/.idea/workspace.xml
/.idea/misc.xml
/.idea/dictionaries
/.pip-download-cache
/.coverage
/.eggs
/.cache
/.project
/pypy3*
/env
/build
/dist
/test-result.xml

teamcity_messages.egg-info
dropin.cache
_trial_temp*
*.pyc
__pycache__
