language: python
os:
  - linux
  - osx
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
install:
  - pip install pep8
script:
  - pep8 --ignore E501 teamcity examples tests/unit-tests tests/integration-tests
  - python setup.py test
