version: '{build}'
environment:
  TMP: c:\tmp
  TEMP: c:\tmp
  TMPDIR: c:\tmp
  matrix:
  - PYTHON_HOME: C:\Python27
  - PYTHON_HOME: C:\Python35
  - PYTHON_HOME: C:\Python36
  - PYTHON_HOME: C:\Python36-x64
  - PYTHON_HOME: C:\Python37
  - PYTHON_HOME: C:\Python37-x64
install:
- appveyor DownloadFile https://bootstrap.pypa.io/get-pip.py
- '%PYTHON_HOME%\python get-pip.py'
- '%PYTHON_HOME%\python -m pip install --upgrade setuptools'
build_script:
- '%PYTHON_HOME%\python setup.py sdist'
test_script:
- '%PYTHON_HOME%\python setup.py test'
